/* Global Overrides */
.section-wrap {
    max-width: 1000px;
    padding: 16px;
}

.btn-secondary {
    background: var(--bg2);
    padding: 16px;
}

@media (max-width: 1200px) {
    .section-wrap {
        margin: 16px auto;
    }
}

@media (max-width: 1000px) {
    .section-wrap {
        margin: 16px;
    }
}

/* Player */
.player-wrap {
    width: 100%;
    height: 75vh;

    background-color: var(--bg2);
    border-bottom: 1px solid var(--border);
}

.player-wrap iframe {
    width: 100%;
    height: 100%;

    border: none;
}

/* Toolbar */
.toolbar-wrap {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 30px 20px;
    margin: 0 auto;
}

.toolbar-info {
    flex: 1;
    margin: auto 0;
}

.toolbar-info h1 {
    margin-bottom: 8px;
}

.toolbar-info a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.toolbar-actions {
    display: flex;
    gap: 12px;
}

.toolbar-actions button {
    margin: auto 0;
    aspect-ratio: 1/1;
}

.toolbar-actions button:active {
    svg {
        transform: scale(1.1);
    }
}

/* Game Info */
.game-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

@media (min-width: 1200px) {
    .game-info div:first-child {
        padding-right: 32px;

        border-right: 1px solid var(--border);
    }
}

@media (max-width: 1200px) {
    .game-info {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
}