/* Global Overrides */
.section-wrap {
    max-width: 1000px;
    padding: 16px;
}

.btn-secondary {
    background: var(--bg2);
    padding: 16px;
}

@media (max-width: 1200px) {
    .section-wrap {
        margin: 16px auto;
    }
}

@media (max-width: 1000px) {
    .section-wrap {
        margin: 16px;
    }
}

/* Player */
.player-wrap {
    width: 100%;
    height: 75vh;

    background-color: var(--bg2);
    border-bottom: 1px solid var(--border);
}

.player-wrap iframe {
    width: 100%;
    height: 100%;

    border: none;
}

/* Toolbar */
.toolbar-wrap {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 30px 20px;
    margin: 0 auto;
}

.toolbar-info {
    flex: 1;
    margin: auto 0;
}

.toolbar-info h1 {
    margin-bottom: 8px;
}

.toolbar-info a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.toolbar-actions {
    display: flex;
    gap: 12px;
}

.toolbar-actions button {
    margin: auto 0;
    aspect-ratio: 1/1;
}

.toolbar-actions button:active svg {
    transform: scale(1.1);
}

/* Tooltips */
.tooltip {
    padding: 10px 20px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -55px);
    z-index: 999 !important;

    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: var(--radius);

    font-size: 0.9rem;
    font-weight: 600;
    text-wrap-mode: nowrap;

    opacity: 0;
}

.toolbar-actions button:hover .tooltip {
    opacity: 1 !important;
}

.border-success {
    border-color: var(--border-green);
}

.border-fail {
    border-color: var(--border-red);
}


/* Game Info */
.game-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));;
    gap: 32px;
}

.game-details {
    display: grid;
    gap: 12px;
    padding: 32px;

    background: var(--bg2);
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.game-details div {
    display: flex;
    margin: auto 0;
}

.game-details div h4 {
    flex: 1;

    line-height: 2;
    margin-bottom: 0;
}

.game-details div p {
    padding: 2px 16px;

    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 100px;
    line-height: 2;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .game-info div:first-child:not(.game-details div) {
        padding-right: 32px;

        border-right: 1px solid var(--border);
    }
}

@media (max-width: 1000px) {
    .game-info {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
}